body {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.ld {
  font-size: 30px;
}

.field {
  border: 2px solid #111;
  width: 600px;
  height: 540px;
}

.FN {
  margin-top: 20px;
  margin-left: 86px;
  border-style: solid;
  height: 70px;
  width: 410px;
  font-size: 40px;
}

.LN {
  margin-top: 20px;
  margin-left: 88px;
  border-style: solid;
  height: 70;
  width: 410px;
  font-size: 40px;
}

.email {
  margin-top: 20px;
  margin-left:128px;
  height: 70px;
  border-style: solid;
  width: 410px;
  font-size: 40px;
}

.age {
  margin-top: 20px;
  margin-left: 144px;
  border-style: solid;
  height: 70px;
  width: 410px;
  font-size: 40px;
}

input {
  background-color: white;
}

.sub {
  height: 40px;
  width: 100px;
  margin-left: 150px;
  margin-top: 15px;
  border: none;
  background-color: pink;
  border-style: solid;
  cursor: pointer;
}

.sub:hover {
  background-color: blue;
}

.first, .last, .mail, .yourage {
  font-size: 19px;
}