body {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.ld {
  font-size: 20px;
}

.field {
  border: 2px solid #111;
  width: 600px;
  height: 540px;
}

.FN {
  margin-top: 20px;
  margin-left: 84px;
  border-style: solid;
  height: 70px;
  width: 210px;
}

.LN {
  margin-top: 20px;
  margin-left: 86px;
  border-style: solid;
  height: 7;
  width: 210px;
}

.email {
  margin-top: 20px;
  margin-left:120px;
  height: 30px;
  border-style: solid;
  width: 210px;
}

.age {
  margin-top: 20px;
  margin-left: 134px;
  border-style: solid;
  height: 30px;
  width: 210px;
}

input {
  background-color: white;
}

.sub {
  height: 40px;
  width: 100px;
  margin-left: 150px;
  margin-top: 15px;
  border: none;
  background-color: pink;
  border-style: solid;
  cursor: pointer;
}

.sub:hover {
  background-color: blue;
}